/* login.html */

.to-one-line {
    display: flex;
    justify-content: space-between;
}

.remember-me {
    display: inline;
}

.login-form {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.login-form-input {
    width: 100%;
    margin: 0 auto;
    font-size: medium;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
}

.login-btn {
    background-color: rgb(57, 185, 0);
    color: #fff;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    font-size: medium;
    margin: 10px;
}

.login-btn:hover {
    background-color: #fff;
    color: rgb(57, 185, 0);
}

.register a{
    text-decoration: underline;
}

.login-field {
    margin-bottom: 10px;
    text-align: left;
}

.breadcrumbs {
    background-color: #f5f6f9;
}

.wrapper {
    background-image: url('https://images.unsplash.com/photo-1543366749-4dad497ea0a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80');
    background-size: cover;
}

@media (max-width: 767px) {
    .login-form {
        max-width: 300px;
    }
}