.content {
    background: #f5f6f9;
    text-align: center;
    width: 100%;
    height: calc(100% - 100px);
}

.breadcrumbs {
    background-color: #f5f6f9;
}

.why-img, h3 {
    margin: 10px 0;
}

p {
    margin-bottom: 10px;
}

.why-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 50px 0;
}

.wrapper {
    background-image: none;
}

h1 {
    color:rgb(233, 10, 114);
}